@import "./src/color";

.hide {
  display: none;
}

::ng-deep mat-dialog-container {
  background: #3b3a3a !important;
  color: #d0d0d0;

  .mat-dialog-content {
    display: flex;
    flex-direction: row;

    .movie-container-image {
      width: 16.66%;
      .mat-card-image {
        width: 100%;
        margin: 0;
      }
    }

    .form-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 83.33%;

      .mat-select-value {
        color: #d0d0d0;
      }
    }
  }

  .dialog-title {
    color: #d0d0d0;
  }

  .mat-form-field {
    margin: 5px;
  }

  .mat-form-field-flex {
    background: #585858;
    color: #d0d0d0;
    border-radius: 5px;
  }

  .mat-form-field-flex {
    margin: 5px;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
  }
}

.btn-image {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  background: $colorPrimary;
}

.btn-image-large {
  padding: 11px 19px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-save {
  justify-content: end;
}

@media (max-width: 768px) {
  .mat-dialog-content {
    width: 100%;
    flex-direction: column;

    .movie-container-image {
      width: 91.66%;
    }
  }

  .btn-image {
    width: 83.33%;
  }
}
