::ng-deep mat-dialog-container {
  background: #3b3a3a !important;
  color: #d0d0d0;

  .dialog-title {
    color: #d0d0d0;
  }

  .mat-form-field {
    margin: 5px;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    background: #313131;
    color: #d0d0d0;
  }

  .mat-form-field-flex {
    margin: 5px;
  }
}
