<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input matInput placeholder="Placeholder" [value]="data?.nome">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder" [value]="data?.nome">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</div>
