.container-list {
  height: calc(100vh - 30px);


  .filmes-list {
    width: 50%;
    display: flex;
    justify-content: space-between;

    .movie-card {
      width: 33.33%;
      background: #151515;
      margin: 10px;

      .movie-card-header {
        height: 80px;
      }

      .movie-title, .movie-year {
        color: #fff;
      }

      .movie-subtitle {
        color: #9e9e9e;
      }

      .movie-description {
        color: #d0d0d0;
        height: 100px;
      }

      .movie-actions {
        flex: 1;
        .movie-edit {
          .material-icons {
            font-size: 1.5em;
            color: #ffffff;
          }
        }
      }
    }

    .filme-card-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  }
}

