//Primary Colors
$colorPrimary: #ffc107;

//Neutral Colors
$black: #000;
$gray: #575756;
$mediumGray: #999999;
$grayWizard: #CBCACB;
$sGrayWizard: #E9E9E9;
$sMediumGray: #e6e6e6;
$mediumGrayTransparent: #d2d2d2;
$lightGray: #F2F2F2;
$white: #fff;
$brown: #585857;

//Default Status Colors
$danger: #f44336;
$lightDanger: #EE7875;
$lightWarning: #FFBF00;
$primary: #007bff;
$success: #1e7e34;
$warning: #ef9b0f;
$slightWarning: #F1C781;

//Colors Aria

$gray-10: #F1E4E4;
$gray-20: #fcfcfc;
$gray-30: #F2F2F2;
$gray-40: #E9E9E9;
$gray-50: #EEEAEA;
$gray-60: #DFD6D6;
$gray-70: #A9ABAE;
$gray-80: #87888A;
$gray-90: #707070;
$gray-100: #5A5B5B;
$danger-50: #df5a5a;
$warning: #d48c00;
$light-danger: #D48787;
$success: #149553;
$info: #2D9DD1;
$green-default: #009688;
$green-dark-default: #3b8679;
$blue-default: #2B517E;
$blue-dark-default: #1a2c48;
$white: #FFFFFF;
$green: #28a745;
$orange: #FF955E;
$yellow: #F9DD28;
$purple: #671dc1;
$white: #FFFFFF;
$brown: #695A35;

