/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";
@import "color";

html, body { height: 100%; background: #000000; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-4 {
  flex-grow: 4;
}

.flex-grow-5 {
  flex-grow: 5;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

//style scroll
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffc107;
}

.mat-menu-content:not(:empty) {
  background: $colorPrimary !important;
}

.success-alert-message-component {
  text-align: center !important;
  background-color: $success !important;
  color: #FFFFFF !important;
  .mat-simple-snackbar-action {
    color: #FFFFFF !important;
  }
}
